.adding__button {
    position: fixed;
    top: -5.625rem;
    right: calc(50% - 2.5rem);
    height: 5rem;
    width: 5rem;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #C060A1;
    background-image: radial-gradient(rgba(192, 96, 161, 1) 10%, rgba(106, 9, 125, 1) 100%);
    background-size: 300% 150%;
    transition: all .4s ease-in-out;
}

.adding__button:hover {
    background-position: 100% 50%;
}

.adding__button img {
    transition: transform .4s ease-in-out;
}

.adding {
    position: fixed;
    bottom: 0;
    width: min(100%, 40rem);
    padding: 4.2rem 2.375rem 2.375rem;
    background-color: #F1D4D4;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform .4s ease-in-out;
    border-radius: 30px 30px 0 0;
    z-index: 100;
}

.adding--opened {
    transform: translateY(0);
    box-shadow: 0 0 8px 0;
}

.adding--opened .adding__button {
    top: -2.5rem;
}

.adding--opened .adding__button img {
    transform: rotate(45deg);
}

.adding__label {
    display: block;
}

.adding__label:not(:last-child) {
    margin-bottom: 1.4375rem;
}

.adding__input {
    background-color: #6A097D;
    font-size: 1.25rem;
    color: #FFF;
    display: block;
    padding: 1.375rem 0.75rem;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    color-scheme: dark;
    margin-top: 0.75rem;
    border: 0;
}

.adding__input:focus-visible {
    outline: #000000 solid 3px;
}

.adding__submit {
    padding: 0.5rem 1.75rem;
    width: inherit;
    margin: 0 auto;
}