.no-events {
    color: #FFF;
    font-size: 1.5rem;
    text-align: center;
    padding-block-start: min(calc(100vh - 540px), 30vh);
    position: relative;
}

.no-events img {
    display: block;
    margin-block-start: 30px;
    margin-inline: auto;
    padding-inline-start: 80px;
}

.events-list {
    padding: 3.125rem 1.25rem;
}