.event {
    background-color: #F1D4D4;
    padding: 0.625rem;
    margin: 0 1.25rem;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
    border-radius: 10px;
    max-width: 700px;
}

.event__title-wrapper {
    display: flex;
    justify-content: space-between;
}

.event__title {
    font-weight: 400;
    margin: 5px 0;
}

.event__date {
    font-size: 0.875rem;
}

.event__button {
    flex: 0 0 2rem;
    height: 2rem;
    padding: .25rem;
    border: 0;
    background-color: inherit;
}

.event__button img {
    height: 100%;
    width: 100%;
}